.custom-card {
  width: 100%;
  min-height: 400px;
  height: 100%;
  // transition: transform .3s;
  // transform: translateY(-15px);

  & img {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
  } 
}

.custom-card:hover {
  cursor: pointer;
  // transition: transform .3s;
}


.card-cta {
  display: inline-flex;

  & a {
    border-radius: 40px;
  }
}
.custom-bg {
  background: transparent linear-gradient(270deg, #15A0BC 0%, #0B505E 100%) 0% 0% no-repeat padding-box; 
}
// .c-card-img {

// }