<form class="search-form container row mx-auto pr-0 shadow">
  <div class="form-group col border-right my-auto py-3">
    <label for="FormControlSelect1">Destination</label>
    <select class="form-control" id="FormControlSelect1" aria-placeholder="Destination">
      <option value="all">All</option>
      <option value="">Antactica</option>
      <option>Europe</option>
      <option>Morroco</option>
      <option>Pacific Ocean</option>
      <option>China</option>
    </select>
  </div>
  <!-- <hr> -->
  <div class="form-group col border-right my-auto py-3">
    <label for="FormControlSelect2">Type</label>
    <select class="form-control" id="FormControlSelect2">
      <option value="">All</option>
      <option>Cruise & Voyage</option>
      <option>European Tours</option>
      <option>Architectural Tour</option>
      <option>Mountain Tour</option>
      <option>Beach Tours</option>
    </select>
  </div>
  <!-- <hr> -->
  <div class="form-group col my-auto py-3">
    <label for="FormControlSelect3">Budget</label>
    <select class="form-control" id="FormControlSelect3">
      <option value="">All</option>
      <option>500,000</option>
      <option>500,000 - 1,5000,000</option>
      <option>1,5000,000 - 2,000,000</option>
      <option>2,000,000 - 3,000,000</option>
    </select>
  </div>
  <button type="submit" class="btn btn-lg w-100 p-2 bg-white col">FIND</button>
</form>